apache-airflow[airbyte]
apache-airflow[apache.hdfs]
apache-airflow[apache.hive]
apache-airflow[apache.spark]
apache-airflow[daskexecutor]
apache-airflow[jdbc]
apache-airflow[microsoft.mssql]
apache-airflow[oracle]
apache-airflow[trino]
sasl